@using KursovaWorkBLL.Services.AdditionalServices;
@{
    ViewBag.Title = "Зміна паролю";
    ViewBagHelper.SetIsLoggedInInViewBag(ViewContext);
}
@model ChangePasswordViewModel

<script>
    var element = document.querySelector('.header');
    element.remove();
</script>
<div class="splitted-page">
    <div class="left-side">
        <div class="input-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h2 class="text-center mb-4">Зміна паролю</h2>
                        <div class="customLogInHeader fs-5">
                            <p>
                                Введіть новий пароль та підтвердження нового паролю
                            </p>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @using (Html.BeginForm("SubmitChange", "ChangePassword", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
                        {
                            <div class="form-group">
                                <p class="fs-6">Новий пароль</p>
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control-custom", placeholder = "Новий пароль", required = "required", type = "password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <p class="fs-6">Підтвердження новго паролю</p>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control-custom", placeholder = "Підтвердження нового паролю", required = "required" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group login-button mt-4">
                                <button type="submit" class="btn btn-primary btn-block">Підтвердити</button>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side"></div>
    <div class="right-side-mobile"></div>
</div>





