@using KursovaWorkBLL.Services.AdditionalServices;

@{
    ViewBagHelper.SetIsLoggedInInViewBag(ViewContext);
    ViewBag.Title = "SignUp";
}
@model SignUpViewModel


<script>
    var element = document.querySelector('.header');
    element.remove();
</script>
<div class="splitted-page">
    <div class="left-side">
        <div class="input-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h2 class="text-center mb-4">VAG ID Registration</h2>
                        <div class="customLogInHeader fs-5">
                            <p>
                                Ви маєте VAG ID? Нажміть
                                <a class="text-black" asp-area="" asp-controller="SignUp" asp-action="LogIn">тут</a>
                            </p>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @using (Html.BeginForm("SignUp", "SignUp", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
                        {
                            <div class="form-group">
                                <p class="fs-6">Ім'я</p>
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control-custom", placeholder = "Ім\'я", required = "required", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <p class="fs-6">Прізвище</p>
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control-custom", placeholder = "Прізвище", required = "required" })
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <p class="fs-6">Електронна пошта</p>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control-custom", placeholder = "Електронна пошта", required = "required" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <p class="fs-6">Пароль</p>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control-custom", placeholder = "Пароль", required = "required" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <p class="fs-6">Підтвердіть пароль</p>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control-custom", placeholder = "Підтвердіть пароль", required = "required" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group login-button">
                                <button type="submit" class="btn btn-primary btn-block">Зареєструватися</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side"></div>
    <div class="right-side-mobile"></div>
</div>
